@font-face {
  font-family: 'Segoe UI';
  src: url('fonts/Segoe UI.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI italic';
  src: url('fonts/Segoe UI Italic.ttf');
  font-weight: normal;
  font-style: italic;  
}

@font-face {
  font-family: 'Segoe UI bold';
  src: url('fonts/Segoe UI Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI bold italic';
  src: url('fonts/Segoe UI Bold Italic.ttf');
  font-weight: bold;
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  padding: 0px;
  margin: 0px;    

  font-family: 'Segoe UI', Roboto, sans-serif;
  font-size: 14px;
  background-color: transparent;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */  
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

#app {
  height: 100%;
  width: 100%;
  background-image: url('images/window-background.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited,
a:active {
  color: inherit;
}

ul {
  list-style-type: none;
}

input {
  border: none;
  outline: none;
}

img {
  object-fit: contain;
}