* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  padding: 0px;
  margin: 0px;    

  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: transparent;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

#app {
  height: 100%;
  width: 100%;
  background-image: url('./window-background.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:visited,
a:active {
  color: inherit;
}

ul {
  list-style-type: none;
}